@import url('https://fonts.googleapis.com/css?family=Assistant|Barlow|Belleza|Poppins&display=swap');

/* @import url('https://fonts.googleapis.com/css?family=Alegreya|Cormorant+Garamond|Josefin+Slab|Quattrocento|Tangerine'); */

body {
  font-family: "Poppins", "Barlow", sans-serif;
  background-color: #0000;
  display: grid;
  grid-template-columns: 20% 65%;
  width: 1513px;
  grid-gap: 1em;
  height: auto;
  margin: -15 auto;

}


#p1 a:link {
        color: #7a33ff;
        text-decoration: none;

}

#p1 a:active {
  color: #33f6ff
}
#p1 a:visited {
  color: darkblue;

}

#p1 a:hover {
    color: purple;
}

#p2 a:link {
        color: #7a33ff;
        text-decoration: none;

}

#p2 a:active {
  color: #33f6ff;
}
#p2 a:visited {
  color: darkblue;

}

#p2 a:hover {
    color: purple;
  }

  #p3 {
    text-align: center;
    padding-right: 10px;
  }

h1  {
  font-family: "Belleza", sans-serif;
  color: #121212;
  text-align: center;


}
h2 {
  font-family: "Poppins", sans-serif;
  color: #444444;
  font-size: 14pt;
  text-align: center;
  font-style: italic, bold;
}

h3{
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  color: blue;
}

#wrapper {
  background-color: lightgrey;
  margin: 0 auto;
  padding-left: 20px;
  /* padding-right: 10px; */
}


td{
  width: 200px;

}

.officer {
  width: 250px;
}

.officer2 {
  width: 250px;
}
img{
  border-radius: 70px;
  border-style: solid;
  border-color: darkgrey;
  margin-left: 50px;


}
ul {
  list-style: square;
}
